@font-face {
  font-family: "OneUI-Sans";
  src:
    local("OneUI-Sans-regular"),
    url("OneUISansAPPVF400Regular-Regular.otf") format("opentype"),
}

:root {
  --oui-light_secondary: #848487;
  --oui-legacy_shadow: 0px -2px 6px rgba(0, 0, 0, 0.05), 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1);
  --oui-light_bg: rgb(241 241 243);
  --oui-light_container_bg: rgb(252 252 255);
  --oui-light_floating_bg: rgba(255, 255, 255, 0.6);
  --oui-light_nav_btn: rgba(248, 249, 248, 0);
  --oui-light_nav_btn_focus: rgba(248, 249, 248, 0.8);
}

.oui-float_nav{
  display: flex;
  background: var(--oui-light_floating_bg);
  box-shadow: var(--oui-legacy_shadow);
  border-radius: 29px;
  padding: 4px;
  gap: 4px;
  width: fit-content;
  height: fit-content;
}

.oui-float_nav.vertical-nav{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.oui-float_nav.horizontal-nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.oui-nav_btn{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 0px;
  background: var(--oui-light_nav_btn);
  align-content: center;
  justify-content: center;
  text-align: center;
}

.oui-nav_btn:active{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 0px;
  background: var(--oui-light_nav_btn_focus);
  align-content: center;
  justify-content: center;
  text-align: center;
}

.oui-float_control{
  background: var(--oui-light_floating_bg);
  box-shadow: var(--oui-legacy_shadow);
  border-radius: 29px;
  padding: 4px;
  gap: 4px;
}

.oui-text{
  font: OneUI-Sans-regular;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.oui-textbox{
  height: 48px;
  width: stretch;
  border-radius: 24px;
  border: 0px;
  background-color: var(--oui-light_container_bg);
  color: var(--oui-light_secondary);
  font: OneUI-Sans-regular;
  align-content: center;
  justify-content: space-between;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}
